In [16]:
cd Downloads

[Errno 2] No such file or directory: 'Downloads'
/Users/aa/Downloads

In [17]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [18]:
bio = pd.read_excel('20170713_Marc Gliomes_Bio.xlsx', index_col = None)

In [19]:
bio.columns

Index(['Dwh Prv Nip', 'Dwh Pat Consentement', 'Pat Nip', 'Pat Sexe',
       'Pat Date Naissance', 'Dwh Pat Dn Date', 'Dwh Pat Date Deces',
       'Dwh Prv Date Chir', 'Dwh Prv Diag Histologie', 'Grade', 'Dwh Gen Idh1',
       'Dwh Gen Idh2', 'Dwh Gen Htert C228T', 'Dwh Gen Htert C250T',
       'Dwh Gen P53', 'Dwh Gen Mgmt', 'Dwh Gen Egfr', 'Dwh Gen Mdm2',
       'Dwh Gen Cdk4', 'Dwh Gen P16', 'Dwh Ihc Atrx', 'Dwh Chr Ch1P',
       'Dwh Chr Ch19Q', 'Dwh Chr Ch10P', 'Dwh Chr Ch10Q', 'Dwh Chr Ch9P',
       'Dwh Chr Ch9Q', 'Dwh Pat Tumeur Siege', 'Dwh Pat Tumeur Position'],
      dtype='object')

In [20]:
len(bio.columns)

29

In [21]:
len(bio)

7630

In [22]:
bio.head(20)

,Dwh Prv Nip,Dwh Pat Consentement,Pat Nip,Pat Sexe,Pat Date Naissance,Dwh Pat Dn Date,Dwh Pat Date Deces,Dwh Prv Date Chir,Dwh Prv Diag Histologie,Grade,Dwh Gen Idh1,Dwh Gen Idh2,Dwh Gen Htert C228T,Dwh Gen Htert C250T,Dwh Gen P53,Dwh Gen Mgmt,Dwh Gen Egfr,Dwh Gen Mdm2,Dwh Gen Cdk4,Dwh Gen P16,Dwh Ihc Atrx,Dwh Chr Ch1P,Dwh Chr Ch19Q,Dwh Chr Ch10P,Dwh Chr Ch10Q,Dwh Chr Ch9P,Dwh Chr Ch9Q,Dwh Pat Tumeur Siege,Dwh Pat Tumeur Position
0,4,NaN,4,M,1940-05-22,NaN,2001-02-22,2000-05-30,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,autre,G
1,5,NaN,5,M,1947-10-15,NaN,1999-12-15,1999-05-29,glioblastome IV,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sus-T hémisp,G
2,10,NaN,10,M,1949-11-05,NaN,1992-05-15,1992-04-15,gliome mixte ana III,3,ALTERE,NORMAL,NORMAL,NORMAL,NC,NaN,NORMAL,NaN,NaN,NaN,NaN,NON PERTE,NON PERTE,NON PERTE,PERDU,NON PERTE,NaN,sus-T hémisp,G
3,11,NaN,11,M,1958-07-29,NaN,1991-11-15,1986-03-17,astrocytome bas grade II,2,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non précisé,non précisé
4,11,NaN,11,M,1958-07-29,NaN,1991-11-15,1991-08-14,glioblastome IV,4,ALTERE,NORMAL,NORMAL,NORMAL,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,PARTIEL,PERDU,NaN,non précisé,non précisé
5,12,NaN,12,F,1930-12-07,NaN,1991-03-13,1990-02-13,glioblastome IV,4,NORMAL,NaN,NORMAL,ALTERE,NORMAL,NON METHYLE,NORMAL,NORMAL,NORMAL,DELETE,NaN,PARTIEL,PARTIEL,PERDU,PERDU,PERDU,NaN,sus-T hémisp,G
6,13,NaN,13,M,1928-11-17,NaN,1990-12-20,1990-11-21,astrocytome anaplasique III,3,NaN,NaN,NaN,NaN,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NON PERTE,NON PERTE,NON PERTE,PERDU,NaN,NaN,sus-T hémisp,D
7,13,NaN,13,M,1928-11-17,NaN,1990-12-20,1989-11-17,glioblastome IV,4,NORMAL,NaN,NORMAL,NORMAL,NORMAL,NON METHYLE,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,PERDU,NaN,NaN,sus-T hémisp,D
8,14,0.0,14,F,1934-07-17,NaN,1993-03-30,1992-01-22,glioblastome avec oligo. IV,4,NORMAL,NORMAL,NORMAL,ALTERE,NORMAL,NaN,AMPLIFIE,NORMAL,NORMAL,NORMAL,NaN,GAIN,NON PERTE,NON PERTE,PERDU,NON PERTE,NON PERTE,sus-T hémisp,D
9,15,NaN,15,M,1936-03-22,NaN,1992-03-14,1991-10-23,glioblastome IV,4,NORMAL,NORMAL,ALTERE,NORMAL,ALTERE,NON METHYLE,AMPLIFIE,NORMAL,NORMAL,DELETE,NaN,PARTIEL,NON PERTE,NON PERTE,PERDU,NON PERTE,NON PERTE,sus-T hémisp,G
10,16,NaN,16,M,1922-04-18,NaN,1991-12-22,1990-11-09,glioblastome IV,4,NORMAL,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NORMAL,NORMAL,NORMAL,DELETE,NaN,PARTIEL,PARTIEL,NaN,PERDU,NON PERTE,NaN,non précisé,G
11,17,NaN,17,M,1924-04-12,NaN,1990-04-04,1990-03-28,glioblastome IV,4,NORMAL,NaN,NORMAL,ALTERE,NC,METHYLE,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,PERDU,NON PERTE,NaN,non précisé,non précisé
12,18,NaN,18,F,1931-06-05,NaN,1992-12-18,1992-02-06,astrocytome anaplasique III,3,NORMAL,NORMAL,ALTERE,NORMAL,NORMAL,NaN,NORMAL,NaN,NaN,NaN,NaN,NON PERTE,NaN,NON PERTE,NON PERTE,NON PERTE,NaN,sus-T hémisp,G
13,21,NaN,21,M,1966-01-06,2011-07-25 00:00:00,NaT,1988-07-12,astrocytome bas grade II,2,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ventriculaire,D
14,22,NaN,22,M,1950-05-10,NaN,1995-01-29,1993-07-07,glioblastome IV,4,NORMAL,NORMAL,ALTERE,NORMAL,NORMAL,METHYLE,AMPLIFIE,NORMAL,NORMAL,DELETE,NaN,PARTIEL,NON PERTE,PERDU,PERDU,PARTIEL,NON PERTE,sus-T hémisp,G
15,23,NaN,23,F,1932-10-09,NaN,1993-09-10,1990-06-26,astrocytome anaplasique III,3,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sus-T hémisp,D
16,24,NaN,24,M,1943-03-04,NaN,1993-12-15,1992-01-14,gliome mixte ana III,3,NORMAL,NORMAL,ALTERE,NORMAL,NORMAL,METHYLE,AMPLIFIE,NORMAL,NORMAL,DELETE,NaN,NON PERTE,PERDU,PERDU,PERDU,PERDU,NaN,non précisé,D
17,25,NaN,25,M,1957-06-16,NaN,1991-04-13,1989-11-08,astrocytome bas grade II,2,NORMAL,NORMAL,NORMAL,NORMAL,NC,METHYLE,NaN,NaN,NaN,NaN,NaN,NON PERTE,NaN,NaN,NON PERTE,PERDU,NaN,sus-T hémisp+profond,bilatéral
18,26,NaN,26,M,1930-07-07,NaN,1991-05-15,1990-11-02,oligo.haut grade III,3,ALTERE,NORMAL,NaN,NaN,NORMAL,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NON PERTE,NON PERTE,PARTIEL,NaN,non précisé,bilatéral
19,28,NaN,28,F,1941-02-08,1994-04-25 00:00:00,NaT,1992-04-09,glioblastome IV,4,NORMAL,NORMAL,NORMAL,ALTERE,NORMAL,METHYLE,AMPLIFIE,NORMAL,NORMAL,DELETE,NaN,PARTIEL,GAIN,PERDU,PERDU,PERDU,NON PERTE,sus-T hémisp,G

In [23]:
bio_asNumeric['Dwh Prv Diag Histologie'].value_counts()

glioblastome IV                     2917
oligo.haut grade III                1156
gliome mixte ana III                 891
oligo. bas grade II                  808
glioblastome avec oligo. IV          569
gliome mixte II                      422
astrocytome anaplasique III          308
astrocytome bas grade II             247
gangliogliome                        154
astrocytome pilocytique              116
astrocytome gémistocytique (=A2)      33
gangliogliome anaplasique III          9
Name: Dwh Prv Diag Histologie, dtype: int64

In [24]:
bio_asNumeric = bio.copy()

In [25]:
bio_asNumeric['Dwh Prv Nip'] = pd.to_numeric(bio_asNumeric['Dwh Prv Nip'], errors='coerce').astype('category')
bio_asNumeric['Dwh Pat Consentement'] = pd.to_numeric(bio_asNumeric['Dwh Pat Consentement'], errors = 'coerce').astype('category')
bio_asNumeric['Pat Nip'] = pd.to_numeric(bio_asNumeric['Pat Nip'], errors='coerce').astype('category')
bio_asNumeric['Pat Sexe'] = bio_asNumeric['Pat Sexe'].astype('category')
bio_asNumeric['Pat Date Naissance'] = pd.to_datetime(bio_asNumeric['Pat Date Naissance'])
bio_asNumeric['Dwh Pat Dn Date'] = pd.to_datetime(bio_asNumeric['Dwh Pat Date Deces'])
bio_asNumeric['Dwh Pat Date Deces'] = pd.to_datetime(bio_asNumeric['Dwh Pat Date Deces'])
bio_asNumeric['Dwh Prv Date Chir'] = pd.to_datetime(bio_asNumeric['Dwh Prv Date Chir'])
bio_asNumeric['Grade'] = pd.to_numeric(bio_asNumeric['Grade'], errors='coerce').astype('category')
bio_asNumeric['Dwh Pat Tumeur Position'] = bio_asNumeric['Dwh Pat Tumeur Position'].astype('category')

In [26]:
#Dwh Pat Consentement to be removed? Almost all missing and not clinically relevant?
#Dwh Pat Dn Date to be removed?
#interesting to analyze surgery date, all other things being equal. or any other proxy of impact of surgeon?
#what is the right measure of survival? date of diagnosis? date of surgery? none marks the actual 'beginning'. survival
#post diagnosis after controlling for tumor stage?

In [27]:
#now we're going to check null values and class imbalances for any variables

In [28]:
bio_asNumeric['Dwh Prv Nip'].isnull().value_counts()

False    7630
Name: Dwh Prv Nip, dtype: int64

In [29]:
bio_asNumeric['Dwh Prv Nip'].value_counts(sort = False)

4             1
5             1
10            1
11            2
12            1
13            2
14            1
15            1
16            1
17            1
18            1
21            1
22            1
23            1
24            1
25            1
26            1
28            1
29            1
30            1
31            1
32            1
34            1
35            1
36            2
37            1
38            1
39            2
40            1
41            1
             ..
8009833534    1
8009835872    1
8009838306    1
8009854795    1
8009859289    1
8009898761    1
8009902381    1
8009902439    1
8009908721    1
8009915702    1
8009934000    1
8009951119    1
8009952433    1
8009965085    1
8009968518    1
8009975930    1
8009998587    1
8010001908    1
8010022374    1
8010026077    1
8010254785    1
8010255487    1
8010257382    1
8010265753    1
8010271738    1
8010312838    1
8010327558    1
8010341057    1
8010342923    1
8010348423    1
Name: Dwh Prv Nip, dtype: int64

In [30]:
bio_asNumeric['Dwh Pat Consentement'].isnull().value_counts()

False    4081
True     3549
Name: Dwh Pat Consentement, dtype: int64

In [31]:
bio_asNumeric['Dwh Pat Consentement'].value_counts()

1.0    2429
0.0    1652
Name: Dwh Pat Consentement, dtype: int64

In [32]:
bio_asNumeric['Pat Nip'].isnull().value_counts()

False    7630
Name: Pat Nip, dtype: int64

In [33]:
bio_asNumeric['Pat Nip'].value_counts(sort = False)

4             1
5             1
10            1
11            2
12            1
13            2
14            1
15            1
16            1
17            1
18            1
21            1
22            1
23            1
24            1
25            1
26            1
28            1
29            1
30            1
31            1
32            1
34            1
35            1
36            2
37            1
38            1
39            2
40            1
41            1
             ..
8009833534    1
8009835872    1
8009838306    1
8009854795    1
8009859289    1
8009898761    1
8009902381    1
8009902439    1
8009908721    1
8009915702    1
8009934000    1
8009951119    1
8009952433    1
8009965085    1
8009968518    1
8009975930    1
8009998587    1
8010001908    1
8010022374    1
8010026077    1
8010254785    1
8010255487    1
8010257382    1
8010265753    1
8010271738    1
8010312838    1
8010327558    1
8010341057    1
8010342923    1
8010348423    1
Name: Pat Nip, dtype: int64

In [34]:
bio_asNumeric['Pat Sexe'].isnull().value_counts()

False    7299
True      331
Name: Pat Sexe, dtype: int64

In [35]:
bio_asNumeric['Pat Sexe'].value_counts()/len(bio_asNumeric)

M    0.559633
F    0.396986
Name: Pat Sexe, dtype: float64

In [36]:
bio_asNumeric['Pat Date Naissance'].isnull().value_counts()

False    7567
True       63
Name: Pat Date Naissance, dtype: int64

In [37]:
bio_asNumeric['Pat Date Naissance'].describe()

count                    7567
unique                   5686
top       1945-01-01 00:00:00
freq                        8
first     1912-04-12 00:00:00
last      2015-04-23 00:00:00
Name: Pat Date Naissance, dtype: object

In [38]:
#transform the birth date in age at diagnosis

In [39]:
bio_asNumeric['Dwh Pat Dn Date'].isnull().value_counts()

True     4833
False    2797
Name: Dwh Pat Dn Date, dtype: int64

In [40]:
bio_asNumeric['Dwh Pat Dn Date'].describe()

count                    2797
unique                   1976
top       2014-07-17 00:00:00
freq                        8
first     1989-05-13 00:00:00
last      2017-05-14 00:00:00
Name: Dwh Pat Dn Date, dtype: object

In [41]:
bio_asNumeric['Dwh Pat Date Deces'].isnull().value_counts()

True     4833
False    2797
Name: Dwh Pat Date Deces, dtype: int64

In [42]:
bio_asNumeric['Dwh Pat Date Deces'].describe()

count                    2797
unique                   1976
top       2014-07-17 00:00:00
freq                        8
first     1989-05-13 00:00:00
last      2017-05-14 00:00:00
Name: Dwh Pat Date Deces, dtype: object

In [43]:
bio_asNumeric['Dwh Prv Date Chir'].isnull().value_counts()

False    7198
True      432
Name: Dwh Prv Date Chir, dtype: int64

In [44]:
bio_asNumeric['Dwh Prv Date Chir'].describe()

count                    7198
unique                   4101
top       2014-03-14 00:00:00
freq                        8
first     1955-12-18 00:00:00
last      2017-07-25 00:00:00
Name: Dwh Prv Date Chir, dtype: object

In [45]:
bio_asNumeric['Dwh Prv Diag Histologie'].isnull().value_counts()

False    7630
Name: Dwh Prv Diag Histologie, dtype: int64

In [46]:
bio_asNumeric['Dwh Prv Diag Histologie'].value_counts()

glioblastome IV                     2917
oligo.haut grade III                1156
gliome mixte ana III                 891
oligo. bas grade II                  808
glioblastome avec oligo. IV          569
gliome mixte II                      422
astrocytome anaplasique III          308
astrocytome bas grade II             247
gangliogliome                        154
astrocytome pilocytique              116
astrocytome gémistocytique (=A2)      33
gangliogliome anaplasique III          9
Name: Dwh Prv Diag Histologie, dtype: int64

In [47]:
bio_asNumeric['Grade'].isnull().value_counts()

False    7630
Name: Grade, dtype: int64

In [48]:
bio_asNumeric['Grade'].value_counts()

4    3486
3    2364
2    1510
1     270
Name: Grade, dtype: int64

In [49]:
bio_asNumeric['Dwh Gen Idh1'].isnull().value_counts()

False    7181
True      449
Name: Dwh Gen Idh1, dtype: int64

In [50]:
bio_asNumeric['Dwh Gen Idh1'].value_counts()

NORMAL    2580
ALTERE    2398
NC        2203
Name: Dwh Gen Idh1, dtype: int64

In [51]:
bio_asNumeric['Dwh Gen Idh2'].isnull().value_counts()

False    6941
True      689
Name: Dwh Gen Idh2, dtype: int64

In [52]:
bio_asNumeric['Dwh Gen Idh2'].value_counts()

NORMAL    3879
NC        2958
ALTERE     104
Name: Dwh Gen Idh2, dtype: int64

In [53]:
bio_asNumeric['Dwh Gen Htert C228T'].isnull().value_counts()

False    4264
True     3366
Name: Dwh Gen Htert C228T, dtype: int64

In [54]:
bio_asNumeric['Dwh Gen Htert C228T'].value_counts()

NORMAL    2024
ALTERE    1628
NC         612
Name: Dwh Gen Htert C228T, dtype: int64

In [55]:
bio_asNumeric['Dwh Gen Htert C250T'].isnull().value_counts()

False    4262
True     3368
Name: Dwh Gen Htert C250T, dtype: int64

In [56]:
bio_asNumeric['Dwh Gen Htert C250T'].value_counts()

NORMAL    3018
ALTERE     623
NC         621
Name: Dwh Gen Htert C250T, dtype: int64

In [57]:
bio_asNumeric['Dwh Gen P53'].isnull().value_counts()

False    6371
True     1259
Name: Dwh Gen P53, dtype: int64

In [58]:
bio_asNumeric['Dwh Gen P53'].value_counts()

NC        5236
NORMAL     776
ALTERE     359
Name: Dwh Gen P53, dtype: int64

In [59]:
bio_asNumeric['Dwh Gen Mgmt'].isnull().value_counts()

True     6334
False    1296
Name: Dwh Gen Mgmt, dtype: int64

In [60]:
bio_asNumeric['Dwh Gen Mgmt'].value_counts()

METHYLE        717
NON METHYLE    579
Name: Dwh Gen Mgmt, dtype: int64

In [61]:
bio_asNumeric['Dwh Gen Egfr'].isnull().value_counts()

False    4417
True     3213
Name: Dwh Gen Egfr, dtype: int64

In [62]:
bio_asNumeric['Dwh Gen Egfr'].value_counts()

NORMAL      3799
AMPLIFIE     618
Name: Dwh Gen Egfr, dtype: int64

In [63]:
bio_asNumeric['Dwh Gen Mdm2'].isnull().value_counts()

False    4453
True     3177
Name: Dwh Gen Mdm2, dtype: int64

In [64]:
bio_asNumeric['Dwh Gen Mdm2'].value_counts()

NORMAL      4342
AMPLIFIE     111
Name: Dwh Gen Mdm2, dtype: int64

In [65]:
bio_asNumeric['Dwh Gen Cdk4'].isnull().value_counts()

False    4308
True     3322
Name: Dwh Gen Cdk4, dtype: int64

In [66]:
bio_asNumeric['Dwh Gen Cdk4'].value_counts()

NORMAL      4128
AMPLIFIE     180
Name: Dwh Gen Cdk4, dtype: int64

In [67]:
bio_asNumeric['Dwh Gen P16'].isnull().value_counts()

False    4362
True     3268
Name: Dwh Gen P16, dtype: int64

In [68]:
bio_asNumeric['Dwh Gen P16'].value_counts()

NORMAL    3412
DELETE     950
Name: Dwh Gen P16, dtype: int64

In [69]:
bio_asNumeric['Dwh Ihc Atrx'].isnull().value_counts()

True     6880
False     750
Name: Dwh Ihc Atrx, dtype: int64

In [70]:
bio_asNumeric['Dwh Ihc Atrx'].value_counts()

Maintien              568
Extinction diffuse    176
Extinction focale       6
Name: Dwh Ihc Atrx, dtype: int64

In [71]:
bio_asNumeric['Dwh Chr Ch1P'].isnull().value_counts()

False    4316
True     3314
Name: Dwh Chr Ch1P, dtype: int64

In [72]:
bio_asNumeric['Dwh Chr Ch1P'].value_counts()

NON PERTE    2316
PERDU        1153
PARTIEL       581
GAIN          266
Name: Dwh Chr Ch1P, dtype: int64

In [73]:
bio_asNumeric['Dwh Chr Ch19Q'].isnull().value_counts()

False    4286
True     3344
Name: Dwh Chr Ch19Q, dtype: int64

In [74]:
bio_asNumeric['Dwh Chr Ch19Q'].value_counts()

NON PERTE    2086
PERDU        1320
PARTIEL       483
GAIN          397
Name: Dwh Chr Ch19Q, dtype: int64

In [75]:
bio_asNumeric['Dwh Chr Ch10P'].isnull().value_counts()

True     4101
False    3529
Name: Dwh Chr Ch10P, dtype: int64

In [76]:
bio_asNumeric['Dwh Chr Ch10P'].value_counts()

NON PERTE    2163
PERDU        1012
GAIN          233
PARTIEL       121
Name: Dwh Chr Ch10P, dtype: int64

In [77]:
bio_asNumeric['Dwh Chr Ch10Q'].isnull().value_counts()

False    4131
True     3499
Name: Dwh Chr Ch10Q, dtype: int64

In [78]:
bio_asNumeric['Dwh Chr Ch10Q'].value_counts()

NON PERTE    2399
PERDU        1279
PARTIEL       410
GAIN           43
Name: Dwh Chr Ch10Q, dtype: int64

In [79]:
bio_asNumeric['Dwh Chr Ch9P'].isnull().value_counts()

False    4107
True     3523
Name: Dwh Chr Ch9P, dtype: int64

In [80]:
bio_asNumeric['Dwh Chr Ch9P'].value_counts()

NON PERTE    2438
PARTIEL       814
PERDU         758
GAIN           97
Name: Dwh Chr Ch9P, dtype: int64

In [81]:
bio_asNumeric['Dwh Chr Ch9Q'].isnull().value_counts()

True     4586
False    3044
Name: Dwh Chr Ch9Q, dtype: int64

In [82]:
bio_asNumeric['Dwh Chr Ch9Q'].value_counts()

NON PERTE    2597
GAIN          160
PERDU         146
PARTIEL       141
Name: Dwh Chr Ch9Q, dtype: int64

In [83]:
bio_asNumeric['Dwh Pat Tumeur Siege'].isnull().value_counts()

False    4788
True     2842
Name: Dwh Pat Tumeur Siege, dtype: int64

In [84]:
bio_asNumeric['Dwh Pat Tumeur Siege'].value_counts()

sus-T hémisp            3550
sus-T hémisp+profond     524
non précisé              257
sus-T profond            209
Frontal                  134
tronc cérébral            32
cervelet                  31
ventriculaire             20
autre                     18
moelle/rachis             10
Rolandique                 3
Name: Dwh Pat Tumeur Siege, dtype: int64

In [85]:
bio_asNumeric['Dwh Pat Tumeur Position'].isnull().value_counts()

False    4766
True     2864
Name: Dwh Pat Tumeur Position, dtype: int64

In [86]:
bio_asNumeric['Dwh Pat Tumeur Position'].value_counts()

G              2179
D              2157
non précisé     244
bilatéral       173
médian           13
Name: Dwh Pat Tumeur Position, dtype: int64

In [87]:
clin = pd.read_excel('20170713_Marc Gliomes_Clin.xlsx', index_col = None)

In [88]:
clin.columns

Index(['Pat Nip', 'Pat Sexe', 'Pat Date Naissance', 'Dwh Pat Dn Date',
       'Dwh Pat Date Deces', 'Clin Diag Histologie', 'Grade histo',
       'Clin Chir Date', 'Clin Evolution', 'Clin Type Chirurgie',
       'Clin Rx Date', 'Dwh Chm Date Debut'],
      dtype='object')

In [89]:
clin_asNumeric = clin.copy()

In [90]:
clin_asNumeric['Pat Nip'] = pd.to_numeric(clin_asNumeric['Pat Nip'], errors = 'coerce').astype('category')
clin_asNumeric['Pat Sexe'] = clin_asNumeric['Pat Sexe'].astype('category')
clin_asNumeric['Pat Date Naissance'] = pd.to_datetime(clin_asNumeric['Pat Date Naissance'])
clin_asNumeric['Dwh Pat Dn Date'] = pd.to_datetime(clin_asNumeric['Dwh Pat Dn Date'])
clin_asNumeric['Dwh Pat Date Deces'] = pd.to_datetime(clin_asNumeric['Dwh Pat Date Deces'])
clin_asNumeric['Grade histo'] = pd.to_numeric(clin_asNumeric['Grade histo']).astype('category')
clin_asNumeric['Clin Chir Date'] = pd.to_datetime(clin_asNumeric['Clin Chir Date'])
clin_asNumeric['Clin Rx Date'] = pd.to_datetime(clin_asNumeric['Clin Rx Date'])
clin_asNumeric['Dwh Chm Date Debut'] = pd.to_datetime(clin_asNumeric['Dwh Chm Date Debut'])

In [91]:
clin_asNumeric

,Pat Nip,Pat Sexe,Pat Date Naissance,Dwh Pat Dn Date,Dwh Pat Date Deces,Clin Diag Histologie,Grade histo,Clin Chir Date,Clin Evolution,Clin Type Chirurgie,Clin Rx Date,Dwh Chm Date Debut
0,4,M,1940-05-22,NaT,2001-02-22,glioblastome IV,4,2000-05-30,P1,exérèse,2000-07-07,NaT
1,5,M,1947-10-15,NaT,1999-12-15,glioblastome IV,4,1999-05-29,TT ini,biopsie,1999-07-12,1999-06-29
2,10,M,1949-11-05,NaT,1992-05-15,oligo.haut grade III,3,1992-04-15,TT ini,partielle,1992-05-01,1992-05-01
3,11,M,1958-07-29,NaT,1991-11-15,astrocytome bas grade II,2,1986-03-17,TT ini,exérèse,1986-04-01,NaT
4,11,M,1958-07-29,NaT,1991-11-15,glioblastome IV,4,1991-08-14,P1,exérèse,NaT,NaT
5,12,F,1930-12-07,NaT,1991-03-13,glioblastome IV,4,1990-02-13,TT ini,aucune,1990-03-14,NaT
6,13,M,1928-11-17,NaT,1990-12-20,astrocytome anaplasique III,3,1990-11-21,P2,partielle,NaT,NaT
7,13,M,1928-11-17,NaT,1990-12-20,glioblastome IV,4,1989-11-17,TT ini,partielle,1989-12-18,NaT
8,14,F,1934-07-17,NaT,1993-03-30,glioblastome IV,4,1992-01-22,TT ini,exérèse,NaT,NaT
9,15,M,1936-03-22,NaT,1992-03-14,glioblastome IV,4,1991-10-23,TT ini,exérèse,1991-11-19,NaT
10,16,M,1922-04-18,NaT,1991-12-22,glioblastome IV,4,1990-11-09,TT ini,exérèse,1990-12-01,NaT
11,17,M,1924-04-12,NaT,1990-04-04,glioblastome IV,4,1990-03-28,TT ini,exérèse,NaT,NaT
12,18,F,1931-06-05,NaT,1992-12-18,astrocytome anaplasique III,3,1992-02-06,TT ini,partielle,1992-03-01,NaT
13,21,M,1966-01-06,2011-07-25,NaT,astrocytome bas grade II,2,1988-07-12,TT ini,partielle,NaT,NaT
14,22,M,1950-05-10,NaT,1995-01-29,glioblastome IV,4,1993-07-07,TT ini,partielle,1993-08-11,1993-08-05
15,23,F,1932-10-09,NaT,1993-09-10,astrocytome anaplasique III,3,1990-06-26,TT ini,exérèse,1990-11-06,1990-07-19
16,23,F,1932-10-09,NaT,1993-09-10,astrocytome anaplasique III,3,1990-06-26,TT ini,exérèse,1990-11-06,1990-12-07
17,24,M,1943-03-04,NaT,1993-12-15,glioblastome IV,4,1992-01-14,TT ini,exérèse,1992-02-15,1992-02-15
18,25,M,1957-06-16,NaT,1991-04-13,astrocytome bas grade II,2,1989-11-08,TT ini,partielle,1989-12-26,1990-02-16
19,25,M,1957-06-16,NaT,1991-04-13,astrocytome bas grade II,2,1989-11-08,TT ini,partielle,1989-12-26,1990-10-03
20,26,M,1930-07-07,NaT,1991-05-15,gliome mixte ana III,3,1990-11-02,TT ini,partielle,1991-01-01,1990-12-01
21,28,F,1941-02-08,1994-04-25,NaT,glioblastome IV,4,1992-04-09,TT ini,exérèse,1992-04-01,NaT
22,28,F,1941-02-08,1994-04-25,NaT,glioblastome IV,4,1992-04-09,TT ini,exérèse,1992-04-01,1992-05-01
23,29,M,1935-12-30,NaT,1992-01-01,astrocytome anaplasique III,3,1988-11-17,TT ini,partielle,1988-12-01,NaT
24,30,M,1952-02-01,NaT,1994-03-03,astrocytome anaplasique III,3,1990-09-25,TT ini,partielle,1990-11-01,NaT
25,31,M,1957-11-25,NaT,1992-10-20,oligo. bas grade II,2,1992-05-04,TT ini,exérèse,NaT,NaT
26,32,F,1928-12-02,1993-11-05,NaT,glioblastome IV,4,1993-11-05,TT ini,aucune,NaT,NaT
27,34,F,1939-06-30,NaT,1990-09-15,glioblastome IV,4,1988-11-18,TT ini,exérèse,1989-12-15,NaT
28,35,F,1917-06-04,NaT,1990-04-15,glioblastome IV,4,1989-04-25,TT ini,exérèse,1989-05-01,NaT
29,36,F,1972-12-01,NaT,1996-10-19,gliome mixte ana III,3,1996-08-20,P1,exérèse,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
4838,8009588647,F,1958-06-26,2017-03-15,NaT,astrocytome bas grade II,2,2016-05-20,TT ini,biopsie,2016-09-07,2017-02-01
4839,8009603430,M,1967-11-18,2016-10-18,NaT,glioblastome avec oligo. IV,4,2016-02-12,TT ini,partielle,2016-05-10,2016-06-25
4840,8009606625,F,1947-03-27,2017-04-21,NaT,glioblastome IV,4,2016-04-06,TT ini,partielle,2016-06-01,2016-08-01
4841,8009616617,F,1954-02-28,2011-03-24,NaT,oligo.haut grade III,3,2009-01-07,TT ini,partielle,2009-03-01,2009-04-30
4842,8009619135,F,1993-02-08,2017-01-02,NaT,glioblastome IV,4,2016-08-28,TT ini,exérèse,2016-10-10,2017-01-02
4843,8009629235,F,1941-01-12,2016-12-29,NaT,glioblastome IV,4,2016-11-08,P1,NaN,NaT,NaT
4844,8009630406,F,1968-12-22,2017-03-21,NaT,glioblastome IV,4,2016-04-28,TT ini,biopsie,2016-06-29,2016-09-13
4845,8009631994,M,1970-07-28,2017-05-18,NaT,glioblastome IV,4,2016-02-18,TT ini,partielle,2016-05-10,2016-06-25
4846,8009633302,M,1965-11-07,2017-03-13,NaT,oligo.haut grade III,3,2016-03-17,TT ini,partielle,2016-06-01,2016-08-23
4847,8009635074,M,1957-01-07,2017-03-24,NaT,glioblastome IV,4,2016-06-27,TT ini,biopsie,2016-08-11,2016-10-25
4848,8009635526,F,1940-01-28,2017-01-20,NaT,glioblastome IV,4,2016-07-18,TT ini,partielle,2016-09-01,2016-10-24
4849,8009636704,M,1974-04-12,2017-06-12,NaT,gliome mixte II,2,2010-02-18,P1,partielle,NaT,NaT
4850,8009636704,M,1974-04-12,2017-06-12,NaT,oligo. bas grade II,2,2004-08-17,TT ini,biopsie,NaT,2004-10-07
4851,8009636704,M,1974-04-12,2017-06-12,NaT,oligo. bas grade II,2,2004-08-17,TT ini,biopsie,NaT,2005-04-01
4852,8009650838,M,1959-11-24,2016-05-02,NaT,gliome mixte ana III,3,2013-09-30,TT ini,biopsie,2013-11-19,2014-02-10
4853,8009656132,M,1950-10-27,2017-02-28,NaT,glioblastome IV,4,2017-01-16,TT ini,partielle,2017-02-28,2017-02-28
4854,8009657153,M,1955-08-04,2017-02-22,NaT,glioblastome IV,4,2016-04-06,TT ini,biopsie,2016-07-01,2016-08-08
4855,8009657835,F,1985-08-30,2017-03-03,NaT,glioblastome IV,4,2016-04-01,P4,partielle,2016-07-01,2016-09-01
4856,8009657835,F,1985-08-30,2017-03-03,NaT,gliome mixte II,2,2010-11-17,P1,partielle,NaT,NaT
4857,8009657835,F,1985-08-30,2017-03-03,NaT,oligo. bas grade II,2,2007-10-08,TT ini,partielle,NaT,NaT
4858,8009669708,F,1971-08-19,2017-03-09,NaT,glioblastome IV,4,2017-01-26,TT ini,exérèse,2017-03-01,2017-03-09
4859,8009694199,M,1948-10-14,2017-03-15,NaT,astrocytome anaplasique III,3,2017-03-08,TT ini,biopsie,NaT,NaT
4860,8009711452,M,1950-09-17,2017-03-22,NaT,glioblastome IV,4,2017-02-07,TT ini,partielle,2017-03-22,2017-03-22
4861,8009712826,M,1956-01-01,2017-04-03,NaT,oligo.haut grade III,3,2017-03-09,TT ini,partielle,NaT,NaT
4862,8009712857,M,1966-12-08,2017-03-22,NaT,glioblastome IV,4,2017-02-09,TT ini,NaN,NaT,2017-03-22
4863,8009724274,F,1942-07-30,2017-04-26,NaT,astrocytome anaplasique III,3,2017-03-10,TT ini,biopsie,2017-04-26,NaT
4864,8009728167,F,1957-02-22,2017-03-15,NaT,glioblastome IV,4,2017-01-24,TT ini,partielle,2017-03-15,2017-03-15
4865,8009823797,F,1968-01-16,2017-04-13,NaT,glioblastome IV,4,2017-03-20,TT ini,biopsie,2017-04-13,NaT
4866,8009951119,M,1955-07-31,2017-05-26,NaT,glioblastome IV,4,2017-05-11,TT ini,partielle,NaT,NaT
4867,8009968518,M,1981-09-28,2017-06-14,NaT,glioblastome IV,4,2017-05-18,TT ini,biopsie,2017-06-14,2017-05-27

In [92]:
len(clin_asNumeric.columns)

12

In [93]:
len(clin_asNumeric)

4868

In [94]:
clin_asNumeric['Pat Nip'].isnull().value_counts()

False    4868
Name: Pat Nip, dtype: int64

In [95]:
clin_asNumeric['Pat Nip'].duplicated().value_counts()

False    3882
True      986
Name: Pat Nip, dtype: int64

In [96]:
clin_asNumeric['Pat Sexe'].isnull().value_counts()

False    4864
True        4
Name: Pat Sexe, dtype: int64

In [97]:
clin_asNumeric['Pat Sexe'].value_counts()

M    2860
F    2004
Name: Pat Sexe, dtype: int64

In [98]:
clin_asNumeric['Pat Date Naissance'].isnull().value_counts()

False    4868
Name: Pat Date Naissance, dtype: int64

In [99]:
clin_asNumeric['Pat Date Naissance'].describe()

count                    4868
unique                   3530
top       1962-07-30 00:00:00
freq                        6
first     1912-04-12 00:00:00
last      2000-01-05 00:00:00
Name: Pat Date Naissance, dtype: object

In [100]:
clin_asNumeric['Dwh Pat Dn Date'].isnull().value_counts()

True     2794
False    2074
Name: Dwh Pat Dn Date, dtype: int64

In [101]:
clin_asNumeric['Dwh Pat Dn Date'].describe()

count                    2074
unique                   1139
top       2003-04-30 00:00:00
freq                       24
first     1991-10-01 00:00:00
last      2017-06-16 00:00:00
Name: Dwh Pat Dn Date, dtype: object

In [102]:
clin_asNumeric['Dwh Pat Date Deces'].isnull().value_counts()

False    2793
True     2075
Name: Dwh Pat Date Deces, dtype: int64

In [103]:
clin_asNumeric['Dwh Pat Date Deces'].describe()

count                    2793
unique                   1908
top       2014-07-17 00:00:00
freq                        8
first     1989-05-13 00:00:00
last      2017-05-14 00:00:00
Name: Dwh Pat Date Deces, dtype: object

In [104]:
clin_asNumeric['Clin Diag Histologie'].isnull().value_counts()

False    4868
Name: Clin Diag Histologie, dtype: int64

In [105]:
clin_asNumeric['Clin Diag Histologie'].value_counts()

glioblastome IV                    1924
oligo.haut grade III                745
oligo. bas grade II                 653
gliome mixte ana III                413
glioblastome avec oligo. IV         315
gliome mixte II                     261
astrocytome anaplasique III         228
astrocytome bas grade II            190
astrocytome pilocytique              49
gangliogliome                        46
astrocytome g駑istocytique (=A2)      40
gangliogliome anaplasique III         4
Name: Clin Diag Histologie, dtype: int64

In [106]:
clin_asNumeric['Grade histo'].isnull().value_counts()

False    4868
Name: Grade histo, dtype: int64

In [107]:
clin_asNumeric['Grade histo'].value_counts()

4    2239
3    1390
2    1144
1      95
Name: Grade histo, dtype: int64

In [108]:
clin_asNumeric['Clin Chir Date'].isnull().value_counts()

False    4864
True        4
Name: Clin Chir Date, dtype: int64

In [109]:
clin_asNumeric['Clin Chir Date'].describe()

count                    4864
unique                   3322
top       2009-11-05 00:00:00
freq                        5
first     1976-06-15 00:00:00
last      2017-05-23 00:00:00
Name: Clin Chir Date, dtype: object

In [110]:
clin_asNumeric['Clin Evolution'].isnull().value_counts()

False    4868
Name: Clin Evolution, dtype: int64

In [111]:
clin_asNumeric['Clin Evolution'].value_counts()

TT ini    3940
P1         619
P2         193
P3          81
P4          29
P5           5
P6           1
Name: Clin Evolution, dtype: int64

In [112]:
clin_asNumeric['Clin Type Chirurgie'].isnull().value_counts()

False    4766
True      102
Name: Clin Type Chirurgie, dtype: int64

In [113]:
clin_asNumeric['Clin Type Chirurgie'].value_counts()

partielle    1786
biopsie      1416
exérèse      1416
aucune        148
Name: Clin Type Chirurgie, dtype: int64

In [114]:
clin_asNumeric['Clin Rx Date'].isnull().value_counts()

False    2722
True     2146
Name: Clin Rx Date, dtype: int64

In [115]:
clin_asNumeric['Clin Rx Date'].describe()

count                    2722
unique                   2017
top       2016-02-01 00:00:00
freq                        7
first     1976-11-08 00:00:00
last      2017-06-14 00:00:00
Name: Clin Rx Date, dtype: object

In [116]:
clin_asNumeric['Dwh Chm Date Debut'].isnull().value_counts()

False    2950
True     1918
Name: Dwh Chm Date Debut, dtype: int64

In [117]:
clin_asNumeric['Dwh Chm Date Debut'].describe()

count                    2950
unique                   2278
top       2011-02-21 00:00:00
freq                        5
first     1987-05-01 00:00:00
last      2017-06-14 00:00:00
Name: Dwh Chm Date Debut, dtype: object

In [118]:
merged = pd.merge(bio_asNumeric, clin_asNumeric, left_on = 'Pat Nip', right_on = 'Pat Nip', how = 'outer')

In [119]:
merged.columns

Index(['Dwh Prv Nip', 'Dwh Pat Consentement', 'Pat Nip', 'Pat Sexe_x',
       'Pat Date Naissance_x', 'Dwh Pat Dn Date_x', 'Dwh Pat Date Deces_x',
       'Dwh Prv Date Chir', 'Dwh Prv Diag Histologie', 'Grade', 'Dwh Gen Idh1',
       'Dwh Gen Idh2', 'Dwh Gen Htert C228T', 'Dwh Gen Htert C250T',
       'Dwh Gen P53', 'Dwh Gen Mgmt', 'Dwh Gen Egfr', 'Dwh Gen Mdm2',
       'Dwh Gen Cdk4', 'Dwh Gen P16', 'Dwh Ihc Atrx', 'Dwh Chr Ch1P',
       'Dwh Chr Ch19Q', 'Dwh Chr Ch10P', 'Dwh Chr Ch10Q', 'Dwh Chr Ch9P',
       'Dwh Chr Ch9Q', 'Dwh Pat Tumeur Siege', 'Dwh Pat Tumeur Position',
       'Pat Sexe_y', 'Pat Date Naissance_y', 'Dwh Pat Dn Date_y',
       'Dwh Pat Date Deces_y', 'Clin Diag Histologie', 'Grade histo',
       'Clin Chir Date', 'Clin Evolution', 'Clin Type Chirurgie',
       'Clin Rx Date', 'Dwh Chm Date Debut'],
      dtype='object')

In [120]:
len(merged.columns)

40

In [121]:
len(merged)

9770

In [122]:
#here i did an inner merge, showing resulting in 6902 records. we have both clinical and biological data for 6902 
#patients.
#an outer merge resulted in 9770 records. we have clinical or biological data for 9770 patients.
#there are therefore

In [123]:
#for duplicate columns i.e. date deces, how do you remove one of the copies knowing that they each have data the other
#one doesn't? need to merge values of _y in _x, where value in _x is absent but in _y it is present.

In [124]:
merged['Pat Sexe_x'].equals(merged['Pat Sexe_y'])

False

In [125]:
merged['Pat Date Naissance_x'].equals(merged['Pat Date Naissance_y'])

False

In [126]:
merged['Dwh Pat Dn Date_x'].equals(merged['Dwh Pat Dn Date_y'])

False

In [127]:
series1 = merged['Pat Sexe_x'] == merged['Pat Sexe_y']
series1.value_counts()

True     6898
False    2872
dtype: int64

In [128]:
series2 = merged['Pat Date Naissance_x'] == merged['Pat Date Naissance_y']
series2.value_counts()

True     6902
False    2868
dtype: int64

In [129]:
series3 = merged['Dwh Pat Dn Date_x'] == merged['Dwh Pat Dn Date_y']
series3.value_counts()

False    9770
dtype: int64

In [130]:
df1 = merged[['Pat Sexe_x', 'Pat Sexe_y']]
df1

     Pat Sexe_x Pat Sexe_y
0             M          M
1             M          M
2             M          M
3             M          M
4             M          M
5             M          M
6             M          M
7             F          F
8             M          M
9             M          M
10            M          M
11            M          M
12            F          F
13            M          M
14            M          M
15            M          M
16            F          F
17            M          M
18            M          M
19            F          F
20            F          F
21            M          M
22            M          M
23            M          M
24            M          M
25            F          F
26            F          F
27            M          M
28            M          M
29            M          M
...         ...        ...
9740          F        NaN
9741          M        NaN
9742          M        NaN
9743          F        NaN
9744          M        NaN
9745          M        NaN
9746          F        NaN
9747          F        NaN
9748          F        NaN
9749          F        NaN
9750          M        NaN
9751          M          M
9752          M        NaN
9753          F        NaN
9754          M          M
9755          M        NaN
9756          F        NaN
9757          M        NaN
9758          M        NaN
9759          M        NaN
9760          F        NaN
9761          M        NaN
9762          M        NaN
9763          F        NaN
9764          F        NaN
9765          F        NaN
9766          M        NaN
9767          M        NaN
9768          M        NaN
9769          M        NaN

[9770 rows x 2 columns]

In [131]:
merged['Pat Sexe_x'].value_counts()/len(merged)

M    0.567963
F    0.398055
Name: Pat Sexe_x, dtype: float64

In [132]:
merged['Pat Sexe_x'].isnull().sum()

332

In [133]:
merged['Pat Sexe_y'].isnull().sum()

2872

In [134]:
merged['Pat Sexe_x'].isnull() == merged['Pat Sexe_y']

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9740    False
9741    False
9742    False
9743    False
9744    False
9745    False
9746    False
9747    False
9748    False
9749    False
9750    False
9751    False
9752    False
9753    False
9754    False
9755    False
9756    False
9757    False
9758    False
9759    False
9760    False
9761    False
9762    False
9763    False
9764    False
9765    False
9766    False
9767    False
9768    False
9769    False
dtype: bool

In [135]:
def merge_sex(series_1, series_2):
    series3 = []
    
    if (series_1.empty & series_2.empty):
        series3 = '1000'
    elif series_2.empty:
            series3 = series_2
    else:
            series3 = series_2
    print(series3)

In [136]:
merged_copy = merged.copy()

In [137]:
merged_copy.columns

Index(['Dwh Prv Nip', 'Dwh Pat Consentement', 'Pat Nip', 'Pat Sexe_x',
       'Pat Date Naissance_x', 'Dwh Pat Dn Date_x', 'Dwh Pat Date Deces_x',
       'Dwh Prv Date Chir', 'Dwh Prv Diag Histologie', 'Grade', 'Dwh Gen Idh1',
       'Dwh Gen Idh2', 'Dwh Gen Htert C228T', 'Dwh Gen Htert C250T',
       'Dwh Gen P53', 'Dwh Gen Mgmt', 'Dwh Gen Egfr', 'Dwh Gen Mdm2',
       'Dwh Gen Cdk4', 'Dwh Gen P16', 'Dwh Ihc Atrx', 'Dwh Chr Ch1P',
       'Dwh Chr Ch19Q', 'Dwh Chr Ch10P', 'Dwh Chr Ch10Q', 'Dwh Chr Ch9P',
       'Dwh Chr Ch9Q', 'Dwh Pat Tumeur Siege', 'Dwh Pat Tumeur Position',
       'Pat Sexe_y', 'Pat Date Naissance_y', 'Dwh Pat Dn Date_y',
       'Dwh Pat Date Deces_y', 'Clin Diag Histologie', 'Grade histo',
       'Clin Chir Date', 'Clin Evolution', 'Clin Type Chirurgie',
       'Clin Rx Date', 'Dwh Chm Date Debut'],
      dtype='object')

In [138]:
def merge_sex(x, y):
    series3 = []
    i = 0
    while i < len(x):
        if x[i] == 'M' or x[i] == 'F':
            series3.append(x[i])
        else:
            series3.append(y[i])
        i +=1
    return series3

In [139]:
merged_copy['Pat Sexe_y'].isnull().sum()

2872

In [140]:
series3 = merge_sex(merged_copy['Pat Sexe_y'], merged_copy['Pat Sexe_x'])

In [141]:
series3df = pd.DataFrame(series3)

In [142]:
series3df

      0
0     M
1     M
2     M
3     M
4     M
5     M
6     M
7     F
8     M
9     M
10    M
11    M
12    F
13    M
14    M
15    M
16    F
17    M
18    M
19    F
20    F
21    M
22    M
23    M
24    M
25    F
26    F
27    M
28    M
29    M
...  ..
9740  F
9741  M
9742  M
9743  F
9744  M
9745  M
9746  F
9747  F
9748  F
9749  F
9750  M
9751  M
9752  M
9753  F
9754  M
9755  M
9756  F
9757  M
9758  M
9759  M
9760  F
9761  M
9762  M
9763  F
9764  F
9765  F
9766  M
9767  M
9768  M
9769  M

[9770 rows x 1 columns]

In [143]:
len(series3df)

9770

In [144]:
series3df.isnull().sum()

0    332
dtype: int64

In [145]:
series3df[series3df[0].isnull()]

        0
185   NaN
206   NaN
236   NaN
247   NaN
248   NaN
272   NaN
274   NaN
279   NaN
280   NaN
281   NaN
282   NaN
283   NaN
284   NaN
285   NaN
293   NaN
308   NaN
309   NaN
335   NaN
336   NaN
345   NaN
356   NaN
359   NaN
362   NaN
368   NaN
371   NaN
379   NaN
380   NaN
381   NaN
382   NaN
383   NaN
...   ...
8219  NaN
8258  NaN
8364  NaN
8383  NaN
8426  NaN
8430  NaN
8437  NaN
8501  NaN
8508  NaN
8550  NaN
8586  NaN
8615  NaN
8632  NaN
8637  NaN
8665  NaN
8666  NaN
8678  NaN
8705  NaN
8712  NaN
8748  NaN
8792  NaN
8862  NaN
8896  NaN
8908  NaN
8953  NaN
8961  NaN
9039  NaN
9107  NaN
9108  NaN
9491  NaN

[332 rows x 1 columns]

In [146]:
merged_copy[merged_copy['Pat Sexe_x'].isnull()]

,Dwh Prv Nip,Dwh Pat Consentement,Pat Nip,Pat Sexe_x,Pat Date Naissance_x,Dwh Pat Dn Date_x,Dwh Pat Date Deces_x,Dwh Prv Date Chir,Dwh Prv Diag Histologie,Grade,Dwh Gen Idh1,Dwh Gen Idh2,Dwh Gen Htert C228T,Dwh Gen Htert C250T,Dwh Gen P53,Dwh Gen Mgmt,Dwh Gen Egfr,Dwh Gen Mdm2,Dwh Gen Cdk4,Dwh Gen P16,Dwh Ihc Atrx,Dwh Chr Ch1P,Dwh Chr Ch19Q,Dwh Chr Ch10P,Dwh Chr Ch10Q,Dwh Chr Ch9P,Dwh Chr Ch9Q,Dwh Pat Tumeur Siege,Dwh Pat Tumeur Position,Pat Sexe_y,Pat Date Naissance_y,Dwh Pat Dn Date_y,Dwh Pat Date Deces_y,Clin Diag Histologie,Grade histo,Clin Chir Date,Clin Evolution,Clin Type Chirurgie,Clin Rx Date,Dwh Chm Date Debut
185,1111111119,NaN,1111111119,NaN,1974-02-01,NaT,NaT,NaT,gangliogliome,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
206,1111111187,NaN,1111111187,NaN,1958-01-01,NaT,NaT,NaT,gangliogliome,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
236,1111111259,NaN,1111111259,NaN,NaT,NaT,NaT,NaT,glioblastome avec oligo. IV,4,NORMAL,NaN,NaN,NaN,NaN,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
247,1111112630,NaN,1111112630,NaN,1957-03-31,NaT,NaT,NaT,glioblastome IV,4,NaN,NaN,NaN,NaN,NaN,NaN,AMPLIFIE,NORMAL,NORMAL,DELETE,NaN,PARTIEL,NON PERTE,NaN,PERDU,PERDU,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
248,1111112638,NaN,1111112638,NaN,1968-12-01,NaT,NaT,2006-05-11,oligo.haut grade III,3,ALTERE,NORMAL,NaN,NaN,NaN,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PARTIEL,PARTIEL,NaN,NON PERTE,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
272,1111112751,NaN,1111112751,NaN,1962-01-13,NaT,NaT,1998-07-31,oligo. bas grade II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
274,1111112758,NaN,1111112758,NaN,1961-03-29,NaT,NaT,2008-07-04,oligo. bas grade II,2,NaN,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NaN,NON PERTE,NON PERTE,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
279,1111112769,NaN,1111112769,NaN,1928-05-12,NaT,NaT,2007-09-28,glioblastome IV,4,NaN,NaN,ALTERE,NORMAL,NC,NON METHYLE,AMPLIFIE,AMPLIFIE,AMPLIFIE,NORMAL,NaN,PARTIEL,NON PERTE,PERDU,PERDU,PARTIEL,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
280,1111112770,NaN,1111112770,NaN,1933-09-19,NaT,NaT,2007-11-14,glioblastome IV,4,NORMAL,NaN,NaN,NaN,NC,NON METHYLE,NORMAL,NORMAL,NORMAL,DELETE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
281,1111112771,NaN,1111112771,NaN,1928-05-05,NaT,NaT,2008-04-14,glioblastome IV,4,NORMAL,NaN,NaN,NaN,NC,NON METHYLE,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
282,1111112772,NaN,1111112772,NaN,1936-08-16,NaT,NaT,2008-05-29,glioblastome IV,4,NORMAL,NaN,NaN,NaN,NC,NON METHYLE,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
283,1111112773,NaN,1111112773,NaN,NaT,NaT,NaT,NaT,glioblastome IV,4,NaN,NaN,NaN,NaN,NC,METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
284,1111112774,NaN,1111112774,NaN,NaT,NaT,NaT,NaT,glioblastome IV,4,NaN,NaN,NaN,NaN,NC,NON METHYLE,NORMAL,NORMAL,NORMAL,DELETE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
285,1111112776,NaN,1111112776,NaN,1928-10-05,NaT,NaT,2008-02-26,glioblastome IV,4,NaN,NaN,NaN,NaN,NC,METHYLE,NORMAL,NORMAL,NORMAL,DELETE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
293,1111112789,NaN,1111112789,NaN,1972-12-01,NaT,NaT,2007-03-16,oligo. bas grade II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NaN,NaN,PERDU,NON PERTE,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
308,1111112813,NaN,1111112813,NaN,1937-03-19,NaT,NaT,NaT,glioblastome IV,4,NaN,NORMAL,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
309,1111112814,NaN,1111112814,NaN,1931-01-02,NaT,NaT,NaT,glioblastome IV,4,NaN,NaN,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
335,1111112860,NaN,1111112860,NaN,1958-02-17,NaT,NaT,2008-11-24,gliome mixte II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NaN,NaN,NON PERTE,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
336,1111112861,NaN,1111112861,NaN,1955-04-11,NaT,NaT,2009-01-08,gliome mixte II,2,NaN,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NaN,NON PERTE,NON PERTE,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
345,1111112875,NaN,1111112875,NaN,1935-12-27,NaT,NaT,NaT,glioblastome IV,4,NORMAL,NaN,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
356,1111112888,0.0,1111112888,NaN,1939-02-21,NaT,NaT,2009-05-06,glioblastome IV,4,NORMAL,NORMAL,NORMAL,ALTERE,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
359,1111112894,NaN,1111112894,NaN,1945-11-12,NaT,NaT,2009-03-31,oligo.haut grade III,3,NORMAL,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,AMPLIFIE,NORMAL,NaN,PARTIEL,NON PERTE,PERDU,PERDU,NON PERTE,PARTIEL,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
362,1111112898,NaN,1111112898,NaN,NaT,NaT,NaT,NaT,glioblastome IV,4,NaN,NC,NaN,NaN,NC,METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
368,1111112924,0.0,1111112924,NaN,1926-03-11,NaT,NaT,2009-07-15,glioblastome IV,4,NORMAL,NORMAL,ALTERE,NORMAL,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
371,1111112930,0.0,1111112930,NaN,1926-03-13,NaT,NaT,NaT,glioblastome IV,4,NORMAL,NORMAL,ALTERE,NORMAL,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
379,1111112940,NaN,1111112940,NaN,1933-03-13,NaT,NaT,2008-08-14,gliome mixte ana III,3,NaN,NORMAL,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
380,1111112941,NaN,1111112941,NaN,1929-11-19,NaT,NaT,2008-09-08,glioblastome IV,4,NaN,NC,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
381,1111112942,NaN,1111112942,NaN,1937-11-19,NaT,NaT,2009-02-25,glioblastome IV,4,NaN,NORMAL,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
382,1111112943,NaN,1111112943,NaN,1930-12-14,NaT,NaT,2008-02-04,glioblastome IV,4,NaN,NORMAL,NaN,NaN,NC,NON METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
383,1111112944,NaN,1111112944,NaN,1927-07-13,NaT,NaT,2008-01-10,glioblastome IV,4,NaN,NORMAL,NaN,NaN,NC,METHYLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8219,4911075721,NaN,4911075721,NaN,1975-05-25,NaT,NaT,2014-02-24,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8258,4911083602,NaN,4911083602,NaN,1935-12-31,NaT,NaT,2011-07-21,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8364,4911142880,NaN,4911142880,NaN,1985-07-01,NaT,NaT,2011-12-07,gliome mixte II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,DELETE,NaN,NON PERTE,NON PERTE,NON PERTE,PARTIEL,PARTIEL,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8383,5012001028,NaN,5012001028,NaN,1973-06-20,NaT,NaT,2012-02-23,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8426,5012024277,NaN,5012024277,NaN,1992-05-30,NaT,NaT,2012-03-08,astrocytome pilocytique,1,NC,NC,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8430,5012027982,NaN,5012027982,NaN,1957-10-02,NaT,NaT,2012-04-12,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8437,5012029131,NaN,5012029131,NaN,1948-04-26,NaT,NaT,2012-03-09,glioblastome IV,4,NORMAL,NC,NORMAL,NORMAL,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sus-T hémisp+profond,G,NaN,1948-04-26,2013-08-27,NaT,glioblastome IV,4.0,2012-03-09,TT ini,biopsie,2012-05-10,2012-06-30
8501,5012060843,NaN,5012060843,NaN,1957-06-06,NaT,NaT,2012-05-31,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8508,5012063569,NaN,5012063569,NaN,1940-05-22,NaT,NaT,2012-11-13,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8550,5012086066,NaN,5012086066,NaN,1976-06-09,NaT,NaT,2012-10-30,oligo. bas grade II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8586,5012099578,NaN,5012099578,NaN,1948-08-12,NaT,NaT,2012-09-05,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8615,5012113543,NaN,5012113543,NaN,1988-02-17,NaT,NaT,2012-10-02,astrocytome bas grade II,2,NC,NC,NORMAL,NORMAL,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8632,5012123282,NaN,5012123282,NaN,1989-10-30,NaT,NaT,2013-06-04,gangliogliome,1,NC,NC,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,PERDU,PERDU,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8637,5012123984,1.0,5012123984,NaN,1958-07-01,NaT,NaT,2012-10-25,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8665,5012143180,NaN,5012143180,NaN,1960-06-12,NaT,NaT,2012-12-19,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8666,5012143406,NaN,5012143406,NaN,1989-11-23,NaT,NaT,2014-03-14,astrocytome pilocytique,1,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8678,5113002971,1.0,5113002971,NaN,1977-12-07,NaT,NaT,2013-04-15,gliome mixte ana III,3,ALTERE,NORMAL,NORMAL,NORMAL,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,NON PERTE,PARTIEL,NON PERTE,sus-T hémisp,D,NaN,1977-12-07,2016-08-23,NaT,gliome mixte ana III,3.0,2013-04-15,TT ini,NaN,NaT,NaT
8705,5113019809,NaN,5113019809,NaN,1938-01-01,NaT,NaT,2013-03-05,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8712,5113023447,NaN,5113023447,NaN,1947-12-24,NaT,NaT,2013-02-25,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8748,5113039083,NaN,5113039083,NaN,1953-11-17,NaT,NaT,2013-04-19,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8792,5113064396,1.0,5113064396,NaN,1973-12-28,NaT,NaT,2013-06-14,gliome mixte ana III,3,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,PARTIEL,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8862,5113106769,NaN,5113106769,NaN,1979-09-23,NaT,NaT,2013-09-26,gangliogliome,1,NC,NC,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,PERDU,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8896,5113128326,1.0,5113128326,NaN,1970-01-01,NaT,NaT,2013-12-19,gliome mixte ana III,3,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8908,5113133748,1.0,5113133748,NaN,1975-02-02,NaT,NaT,2014-01-21,gliome mixte II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,PERDU,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8953,5214008137,NaN,5214008137,NaN,1993-02-22,NaT,NaT,2014-02-11,gangliogliome,1,NC,NC,NaN,NaN,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,PERDU,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
8961,5214013687,NaN,5214013687,NaN,1980-09-10,NaT,NaT,2014-02-13,astrocytome bas grade II,2,ALTERE,NORMAL,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
9039,5214073235,NaN,5214073235,NaN,1948-06-24,NaT,NaT,2014-07-09,glioblastome IV,4,NC,NC,NaN,NaN,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT
9107,5214121206,0.0,5214121206,NaN,1975-01-09,NaT,NaT,2016-10-20,oligo.haut grade III,3,ALTERE,NORMAL,ALTERE,NORMAL,NORMAL,NaN,NORMAL,NORMAL,NORMAL,NORMAL,Maintien,PERDU,PERDU,NON PERTE,NON PERTE,NON PERTE,NaN,sus-T hémisp,D,NaN,1975-01-09,2017-02-28,NaT,oligo.haut grade III,3.0,2008-05-26,TT ini,exérèse,2008-07-08,NaT
9108,5214121206,0.0,5214121206,NaN,1975-01-09,NaT,NaT,2016-10-20,oligo.haut grade III,3,ALTERE,NORMAL,ALTERE,NORMAL,NORMAL,NaN,NORMAL,NORMAL,NORMAL,NORMAL,Maintien,PERDU,PERDU,NON PERTE,NON PERTE,NON PERTE,NaN,sus-T hémisp,D,NaN,1975-01-09,2017-02-28,NaT,oligo.haut grade III,3.0,2016-10-20,P2,partielle,NaT,2017-01-17
9491,6610283998,NaN,6610283998,NaN,1962-10-23,NaT,NaT,2010-03-12,glioblastome avec oligo. IV,4,NC,NC,ALTERE,NORMAL,NC,NaN,NORMAL,NORMAL,NORMAL,NORMAL,NaN,NON PERTE,NON PERTE,NON PERTE,NON PERTE,NON PERTE,GAIN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaT

In [147]:
df_test = series3df[series3df[0].isnull()]

In [148]:
df_test

        0
185   NaN
206   NaN
236   NaN
247   NaN
248   NaN
272   NaN
274   NaN
279   NaN
280   NaN
281   NaN
282   NaN
283   NaN
284   NaN
285   NaN
293   NaN
308   NaN
309   NaN
335   NaN
336   NaN
345   NaN
356   NaN
359   NaN
362   NaN
368   NaN
371   NaN
379   NaN
380   NaN
381   NaN
382   NaN
383   NaN
...   ...
8219  NaN
8258  NaN
8364  NaN
8383  NaN
8426  NaN
8430  NaN
8437  NaN
8501  NaN
8508  NaN
8550  NaN
8586  NaN
8615  NaN
8632  NaN
8637  NaN
8665  NaN
8666  NaN
8678  NaN
8705  NaN
8712  NaN
8748  NaN
8792  NaN
8862  NaN
8896  NaN
8908  NaN
8953  NaN
8961  NaN
9039  NaN
9107  NaN
9108  NaN
9491  NaN

[332 rows x 1 columns]

In [149]:
df_test.index

Int64Index([ 185,  206,  236,  247,  248,  272,  274,  279,  280,  281,
            ...
            8792, 8862, 8896, 8908, 8953, 8961, 9039, 9107, 9108, 9491],
           dtype='int64', length=332)

In [150]:
df_test2 = merged_copy[merged_copy['Pat Sexe_x'].isnull()]

In [151]:
df_test2.index

Int64Index([ 185,  206,  236,  247,  248,  272,  274,  279,  280,  281,
            ...
            8792, 8862, 8896, 8908, 8953, 8961, 9039, 9107, 9108, 9491],
           dtype='int64', length=332)

In [152]:
np.sum(df_test.index == df_test2.index)

332

In [153]:
#created a Series which has either the value of column_x if this has one, or of column_y is column_x is null
#the resulting Series has the same number of nulls as column_x, and they have the same index
#column_y therefore did not bring any additional information to column_x and can be discarded

In [154]:
#The other columns where we have doubles are:
#Pat Date Naissance_x', 'Dwh Pat Dn Date_x', 'Dwh Pat Date Deces_x

In [155]:
merged_copy['Pat Date Naissance_x'].isnull().sum()

63

In [156]:
merged_copy['Pat Date Naissance_y'].isnull().sum()

2868

In [157]:
pat_date_naissance_x_null = merged_copy[merged_copy['Pat Date Naissance_x'].isnull()]

In [158]:
len(pat_date_naissance_x_null)

63

In [159]:
pat_date_naissance_y_null = merged_copy[merged_copy['Pat Date Naissance_y'].isnull()]

In [160]:
len(pat_date_naissance_y_null)

2868

In [161]:
pat_date_naissance_x_null.index

Int64Index([ 183,  184,  190,  195,  196,  200,  202,  214,  217,  219,  226,
             230,  236,  283,  284,  287,  288,  289,  290,  291,  350,  351,
             352,  353,  362,  366,  367,  415,  450,  504,  566,  631,  665,
             671,  672,  764,  766,  774,  775,  776,  777,  778,  779,  780,
             781,  782,  783,  784,  785,  790,  940,  955, 1126, 1556, 1582,
            1586, 1587, 1784, 1785, 1835, 2707, 7785, 7985],
           dtype='int64')

In [162]:
pat_date_naissance_y_null.index

Int64Index([ 180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
            ...
            9760, 9761, 9762, 9763, 9764, 9765, 9766, 9767, 9768, 9769],
           dtype='int64', length=2868)

In [163]:
df = [lambda x: x for x in pat_date_naissance_y_null.index if x not in pat_date_naissance_x_null.index]

In [164]:
len(df)

2805

In [165]:
df_1 = [lambda x: x for x in pat_date_naissance_x_null.index if x not in pat_date_naissance_y_null.index]

In [166]:
len(df_1)

0

In [167]:
merged_copy['Dwh Pat Dn Date_x'].isnull().sum()

5672

In [168]:
merged_copy['Dwh Pat Dn Date_y'].isnull().sum()

6880

In [169]:
dwh_pat_dn_date_x_null = merged_copy[merged_copy['Dwh Pat Dn Date_x'].isnull()]

In [170]:
dwh_pat_dn_date_y_null = merged_copy[merged_copy['Dwh Pat Dn Date_y'].isnull()]

In [171]:
df_2 = [lambda x: x for x in dwh_pat_dn_date_x_null.index if x not in dwh_pat_dn_date_y_null.index]

In [172]:
len(df_2)

2890

In [173]:
merged_copy['Dwh Pat Date Deces_x'].isnull().sum()

5672

In [174]:
merged_copy['Dwh Pat Date Deces_y'].isnull().sum()

5759

In [175]:
dwh_pat_date_deces_x_null = merged_copy[merged_copy['Dwh Pat Date Deces_x'].isnull()]

In [176]:
dwh_pat_date_deces_y_null = merged_copy[merged_copy['Dwh Pat Date Deces_y'].isnull()]

In [177]:
df_3 = [lambda x: x for x in dwh_pat_date_deces_x_null.index if x not in dwh_pat_date_deces_y_null.index]

In [178]:
len(df_3)

0

In [179]:
#since Dwh Pat Date Deces_y has more null values than Dwh Pat Date Deces_x, and the indexes of all the null values
#of column _x also appear in column_y, column_y carries no additional information to column_x and we can discard it.

In [180]:
merged_copy_reduced = merged_copy[['Dwh Prv Nip', 'Pat Nip', 'Pat Sexe_x',
       'Pat Date Naissance_x',
       'Dwh Prv Date Chir', 'Dwh Prv Diag Histologie', 'Grade', 'Dwh Gen Idh1',
       'Dwh Gen Idh2', 'Dwh Gen Htert C228T', 'Dwh Gen Htert C250T',
       'Dwh Gen P53', 'Dwh Gen Mgmt', 'Dwh Gen Egfr', 'Dwh Gen Mdm2',
       'Dwh Gen Cdk4', 'Dwh Gen P16', 'Dwh Ihc Atrx', 'Dwh Chr Ch1P',
       'Dwh Chr Ch19Q', 'Dwh Chr Ch10P', 'Dwh Chr Ch10Q', 'Dwh Chr Ch9P',
       'Dwh Chr Ch9Q', 'Dwh Pat Tumeur Siege', 'Dwh Pat Tumeur Position',
        'Clin Diag Histologie', 'Grade histo',
       'Clin Chir Date', 'Clin Evolution', 'Clin Type Chirurgie']]

In [181]:
merged_copy_reduced.columns

Index(['Dwh Prv Nip', 'Pat Nip', 'Pat Sexe_x', 'Pat Date Naissance_x',
       'Dwh Prv Date Chir', 'Dwh Prv Diag Histologie', 'Grade', 'Dwh Gen Idh1',
       'Dwh Gen Idh2', 'Dwh Gen Htert C228T', 'Dwh Gen Htert C250T',
       'Dwh Gen P53', 'Dwh Gen Mgmt', 'Dwh Gen Egfr', 'Dwh Gen Mdm2',
       'Dwh Gen Cdk4', 'Dwh Gen P16', 'Dwh Ihc Atrx', 'Dwh Chr Ch1P',
       'Dwh Chr Ch19Q', 'Dwh Chr Ch10P', 'Dwh Chr Ch10Q', 'Dwh Chr Ch9P',
       'Dwh Chr Ch9Q', 'Dwh Pat Tumeur Siege', 'Dwh Pat Tumeur Position',
       'Clin Diag Histologie', 'Grade histo', 'Clin Chir Date',
       'Clin Evolution', 'Clin Type Chirurgie'],
      dtype='object')

In [182]:
len(merged_copy_reduced)

9770

In [187]:
merged_copy_reduced_no_nulls = merged_copy_reduced.dropna(thresh=20)

In [188]:
len(merged_copy_reduced_no_nulls)

5390